

<div class="nav-link">
    <i class="platform-icon">
        <img src="/assets/img/home.svg" alt="">
    </i>
    <a class="nav-link-label" href="/index.html">Página Inicial</a>
</div>

<div class="nav-link">
    <i class="platform-icon">
        <img src="/assets/img/cog.svg" alt="">
    </i>
    <a class="nav-link-label" href="/sections/software.html">Software</a>
</div>

<div class="nav-link">
    <i class="platform-icon">
        <img src="/assets/img/gamepad.svg" alt="">
    </i>
    <a class="nav-link-label" href="/sections/games.html">Jogos</a>
</div>

<div class="nav-link" onclick="window.alert('Página em desenvolvimento...')">
    <i class="platform-icon">
        <img src="/assets/img/chip.svg" alt="">
    </i>
    <a class="nav-link-label">Eletrônica</a>
</div>