:root {
    --card-bg: #EEECDB;
    --card-detail: #cbc6b4;

    --clickable-item-background: linear-gradient(180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(236, 235, 229, 1) 86%,
            rgba(216, 208, 196, 1) 100%);

    --clickable-item-border: 1px solid #003c74;
    --clickable-item-font-size: 11pt;
    --clickable-item-border-radius: 4pt;
}

.card {
    border-radius: 8pt;
    margin: 16pt;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 12px 9px 28px 0px rgba(0, 0, 0, 0.62);
    box-shadow: 12px 9px 28px 0px rgba(0, 0, 0, 0.62);
    border-bottom: 4pt solid var(--card-detail);
}

.card-title-wrapper {
    border-radius: 5pt;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(9, 151, 255, 1) 0%,
            rgba(0, 83, 238, 1) 8%,
            rgba(0, 80, 238, 1) 40%,
            rgba(0, 102, 255, 1) 88%,
            rgba(0, 102, 255, 1) 93%,
            rgba(0, 91, 255, 1) 95%,
            rgba(0, 61, 215, 1) 96%,
            rgba(0, 61, 215, 1) 100%);
    color: #fdffff;
    margin: 0;
    padding: 8pt;
    display: flex;
    flex-direction: row;
}

.icon-and-text {
    display: flex;
    flex-direction: row;
}

.icon-and-text-maintext {
    align-self: center;
}

.mini-icon {
    max-width: 32pt;
    align-self: center;
    margin: 8pt;
    height: 100%;
}

.card-main {
    margin: 8pt;
    padding: 4pt;
}

.clickable-item {
    background: var(--clickable-item-background);
    border: var(--clickable-item-border);
    font-size: var(--clickable-item-font-size);
    border-radius: var(--clickable-item-border-radius);
    padding: 0 12pt;
    margin: 8pt;
}

.clickable-item:hover {
    box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

.clickable-item:active {
    box-shadow: none;
    background: linear-gradient(180deg,
            rgba(205, 202, 195, 1) 0%,
            rgba(227, 227, 219, 1) 8%,
            rgba(229, 229, 222, 1) 94%,
            rgba(242, 242, 241, 1) 100%);
}