*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    color: #000000;
    background-color: teal;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding-left: 1.2rem;
}