@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
}


*::selection{
    background-color: rgba(47, 0, 255, 0.459);
}

img{
    pointer-events: none;
    max-width: 100%;
}

::-webkit-scrollbar {
    scrollbar-color: rgb(0, 197, 211) #333;
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}
::-webkit-scrollbar-thumb { /* Foreground */
    background: rgba(255, 81, 0, 0.603);
    border-radius: 5px;
}
::-webkit-scrollbar-track { /* Background */
    background: rgba(51, 51, 51, 0.288);
    border-radius: 5px;
}

body{
    background: #083F81;
    display: flex;
    flex-direction: row;
}

.nav{
    position: fixed;
    height: 100vh;
    width: 250px;
    background: #0B56B1;
    border-top-right-radius: 50px;
    animation: navAnim 0.5s linear;
}

@keyframes navAnim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.nav-link-label{
    transition: .3s;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
}

.nav-link{
    text-align: left;
    padding: 13px;
}

.nav-link-label:hover{
    transition: .13s;
    font-size: 1.5rem;
    color: rgb(255, 115, 0);
}

#content-wrapper{
    padding: 10px;
    width: 100%;
    margin-left: 250px;
}

.post{
    flex-direction: row;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #b7f4ff5d,#a6fffb7c);
    border-radius: 20px;
    overflow-y: auto;
    margin-bottom: 20px;
    animation: flopAnim .5s linear;
    
}

@keyframes flopAnim {
    0%{
        transform: rotate3d(1,0.5,0, 90deg);
    }
    100%{
        transform: rotate3d(1,0,0, 0deg);
    }
}


.post-content{
    display: flex;
    padding: 20px;
}

.post-title{
    font-size: 30px;
    padding: 20px;
}

.post-thumbnail{
    height: 160px;
    margin: 10px;
    border-radius: 6px;
}

.special-post{
    background: linear-gradient(to right, #00ffff8e,#66ff008e);
}

.dynamic-post{
    background: linear-gradient(to right, #1eff008e,#eeff00b0);
}

.detailed-post .post-content{
    display: flex;
    flex-direction: column;
}

.detailed-post .post-content img{
    max-width: 50%;
}

.img-wrp{
    display: flex;
    flex-direction: column;
}

.nav-title{
    padding: 5px;
    text-align: center;
}

@media screen and (max-width:850px) {
    .post-thumbnail{
        height: 50%;
        width: 50%;
    }
    .post{
        flex-direction: column;
        height: auto;
    }
    .post-content{
        flex-direction: column;
        height: auto;
    }
    #content-wrapper{
        margin-top: 18vh;
        padding: 10px;
        width: 100%;
        margin-left: 0;
    }
    .nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        border-radius: 0;
        height: 110px;
        text-align: center;
        vertical-align: middle;
        border-bottom-right-radius: 60px;
        background: linear-gradient(to right, #ff7b00,#ff009d);
        flex-wrap: wrap;
    }
    p a {
        font-size: 20px;
    }
    .nav-link-label:hover{
        transition: .13s;
        font-size: 1.5rem;
        color: rgb(255, 0, 234);
    }
    .detailed-post .post-content img{
        max-width: 100%;
    }
    
}

.platform-icon img{
    height: 32pt;
}